@import "../../../utilsScss/mixins.scss";

.borisOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;

  &-inner {
    padding: 24px 0 64px;
  }

  &-name {
    color: #fff;
    width: 340px;
    margin-bottom: 32px;

    h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 150%;
    }

    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    
    &:nth-of-type(2-n) {
      margin-bottom: 24px;
    }
  }

  &-photo {
    background: url("../../assets/boris-one.jpeg") lightgray 0px -0.659px / 100%
      113.981% no-repeat;
    background-size: cover;
    width: 100%;
    height: 478px;
  }
}

@include onDesktop {
  .borisOne {
    flex-direction: row;

    &-desktop {
      min-width: 50%;
      position: relative;
      display: flex;
      align-items: center;
    }

    &-inner {
      padding: 0px 100px;
    }

    &-name {
      h2 {
        font-size: 64px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 8px;
      }

      h4 {
        font-size: 21px;
        font-weight: 500;
      }
    }

    .redblock-inner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
