@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.presentation {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 6rem;
  height: 45rem;

  &-item {
    display: flex;
    justify-content: center;
    position: relative;

    .happy-hack {
      position: absolute;
      background: linear-gradient(147deg,#ebedee  -2.77%, #fff 93.51%);
      top: 5.2rem;
      z-index: 2;
      height: 3rem;
      width: 0.6rem;
      animation: line 0.3s linear 0.5s 1 normal forwards;
    }

    @keyframes line {
      0% {
        height: 3rem;
      }

      100% {
        height: 0rem;
      }
    }

    .benefit-line {
      position: absolute;
      z-index: 3;
      top: 5.2rem;
    }
  }

  &-benefit {
    z-index: 3;

    width: max-content;
    height: max-content;
    padding: 0.8rem 3rem;
    margin-bottom: 1.9rem;

    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 1.05px;
    text-align: center;

    background-color: $main-red;
    border-radius: 8px;
    opacity: 0;

    animation: opacity 0.2s linear 0.85s 1 normal forwards;
  }

  &-picture-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    p {
      background-color: $main-red;
      padding: 1rem 1.2rem;
      font-size: 1.4rem;
      width: max-content;
      border-radius: 0.4rem;
      opacity: 0;
      animation: opacity 0.3s linear 1s 1 normal forwards;
    }
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@include onDesktop {
  .presentation {
    height: auto;

    &-benefit {
      padding: 0.9rem 1.4rem;
      margin-bottom: -1rem;
      font-size: 1.8rem;
      letter-spacing: 0.5px;
    }

    &-item {
      margin-bottom: 2rem;
    }

    .benefit-line {
      top: 6.1rem;
    }

    .happy-hack {
      top: 6.1rem;

    }

    &-picture-block {
      .picture-block {
        width: 58rem;
        height: 50.5rem;
        overflow: hidden;

        img {
          transform: scale(1);
        }
      }

      p {
        padding: 0.8rem 1.2rem;
        font-size: 2rem;
      }
    }
  }
}
