@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.presentation {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 60px;
  height: 450px;

  &-item {
    display: flex;
    justify-content: center;
    position: relative;

    .happy-hack {
      position: absolute;
      background: linear-gradient(147deg, #ebedee -2.77%, #fff 93.51%);
      top: 52px;
      z-index: 2;
      height: 30px;
      width: 6px;
      animation: line 0.3s linear 0.5s 1 normal forwards;
    }

    @keyframes line {
      0% {
        height: 30px;
      }

      100% {
        height: 0px;
      }
    }

    .benefit-line {
      position: absolute;
      z-index: 3px;
      top: 52px;
    }
  }

  &-benefit {
    z-index: 3;

    width: max-content;
    height: max-content;
    padding: 8px 30px;
    margin-bottom: 19px;

    font-size: 15px;
    line-height: 120%;
    letter-spacing: 1.05px;
    text-align: center;

    background-color: $main-red;
    border-radius: 8px;
    opacity: 0;

    animation: opacity 0.2s linear 0.85s 1 normal forwards;
  }

  &-picture-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    p {
      background-color: $main-red;
      padding: 10px 12px;
      font-size: 14px;
      width: max-content;
      border-radius: 4px;
      opacity: 0;
      animation: opacity 0.3s linear 1s 1 normal forwards;
    }
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@include onDesktop {
  .presentation {
    height: auto;

    &-benefit {
      padding: 5px 16px;
      margin-bottom: -10px;
      font-size: 24px;
      letter-spacing: 0.5px;
    }

    .benefit-line {
      top: 68px;
    }

    .happy-hack {
      top: 68px;

    }

    &-picture-block {
      .picture-block {
        width: 852px;
        height: 730px;
        overflow: hidden;

        img {
          transform: scale(1);
        }
      }

      p {
        font-size: 24px;
      }
    }
  }
}
