@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.homeSection {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-black;
  background: linear-gradient(147deg, #ebedee -2.77%, #fff 93.51%);

  &-header {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 2.8rem 0 2.8rem 2.4rem;
    margin-bottom: 2.5rem;
  }

  h1 {
    width: max-content;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 2.8rem;
  }

  span {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 4.2rem;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.8rem 2.1rem;
    margin-bottom: 6.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.35px;
    color: #fff;

    background-color: $main-red;
    border-radius: 4px;
    border: none;
  }

  .sonderpreise {
    text-align: center;
    min-width: 34.2rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 9rem;

    img {
      display: inline;
      width: 2.3rem;
    }
  }

  &__location {
    background-color: $main-red;
    padding: 9rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;

    img {
      width: 3.6rem;
      height: 3.6rem;
    }

    &-name {
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 130%;
      color: $main-white;
    }

    &-header {
      font-size: 2rem;
      font-weight: 500;
      color: $main-white;
      margin-bottom: 5.4rem;
    }

    &-scroll {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      background-color: $main-white;
      padding: 1.3rem 2.8rem;
      outline: none;
      border: 1px solid $main-red;
      border-radius: 0.8rem;

      p {
        font-size: 1.6rem;
        font-weight: 600;
        color: $main-red;
      }

      img {
        width: 2rem;
      }
    }
  }
}

@include onDesktop {
  .homeSection {
    height: max-content;
    flex-direction: row;
    justify-content: start;

    &-header {
      position: absolute;
      top: -10%;
      left: 0;
      justify-content: flex-start;
      padding: 4.7rem 0 0 4.8rem;
      margin-bottom: 0;
      width: max-content;

      img {
        width: 8.7rem;
        height: 4.5rem;
      }
    }

    .container {
      width: 87.4rem;
      position: relative;
      align-items: center;
    }

    &__location {
      width: 85.4rem;
      height: 97.2rem;
      padding-top: 35.2rem;
    }

    .location {
      img {
        width: 5.2rem;
        height: 5.2rem;
      }

      p {
        font-size: 5.2rem;
      }
    }

    .location-header {
      font-size: 2.8rem;
      text-align: center;
    }

    .location-scroll {
      p {
        font-size: 2rem;
      }
    }

    h1 {
      font-size: 3.6rem;
      margin-bottom: 3.5rem;
      margin-top: 4.1rem;
    }

    span {
      font-size: 3.2rem;
      line-height: 140%;
      margin-bottom: 4rem;
    }

    &-button {
      padding: 1.5rem;

      font-size: 2.4rem;
    }

    .sonderpreise {
      margin-bottom: 60px;
      font-size: 3.2rem;

      img {
        width: 3.2rem;
      }
    }
  }
}
