@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.portfolioSlider {
  margin-bottom: 112px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

.mySwiper {
  height: max-content !important;
  margin-bottom: 40px;
  padding-bottom: 24px !important;

}

.swiper-slide {
  display: flex;
  text-align: center;
  font-size: 18px;
  background: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@include onDesktop {
  .portfolioSlider {
    padding-top: 80px;
    position: relative;
    .container {

      width: calc(100% - 234px);
      max-width: 1494px;
      margin: 0 auto;
      align-items: start;
      

      h2 {
        font-size: 32px;
        margin-bottom: 32px;
      }
    }
  }
  .mySwiper {
    margin: 0 auto; 
    max-width: 1728px;
  }

  .swiper-slide {
    display: flex;
    justify-content: start;
  }
}
