@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% - 23.4rem);
  max-width: 149.4rem;
  margin: 0 auto;
  align-items: start;
  margin-bottom: 3.2rem;

  h2 {
    font-size: 3.2rem;
    font-weight: 600;

    margin-top: 0;
  }
}
.navigation {
  &__buttons {
    display: flex;
    gap: 0.8rem;
    padding-right: 9.8rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 5.2rem;
    background-image: url("../../assets/circle.svg");
    background-size: cover;

    img {
      width: 2rem;
    }
  }
}
