@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.photoSlider {
  margin-bottom: 11.2rem;

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 4rem;
    margin-top: 4.8rem;
    margin-bottom: 1.6rem;
  }
}

.photoSwiper {
  height: max-content !important;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem !important;
}

.swiper-slide {
  display: flex;
  text-align: center;
  font-size: 1.8rem;
  background: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@include onDesktop {
  .photoSlider {
    padding-top: 8rem;
    position: relative;
    


  }

  .photoSwiper {
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: start;
  }
}


