@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.photoSlider {
  margin-bottom: 11.2rem;
  position: relative;
}

.photoSwiper {
  height: max-content !important;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem !important;
}

.swiper-slide {
  display: flex;
  text-align: center;
  font-size: 1.8rem;
  background: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@include onDesktop {
  .photoSlider {
    padding-top: 8rem;
    position: relative;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 23.4rem);
      max-width: 149.4rem;
      margin: 0 auto;
      align-items: start;
    }
  }

  .photoSwiper {
    margin: 0 auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: start;
  }
}
