@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.borisTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  padding-top: 28px;
  padding-bottom: 64px;
  background: linear-gradient(to bottom, #f4f4f6 87%, $main-red 13%);



  &-photo {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #f4f4f4;

    img {
      width: 299px;
    }
  }

  &-name {
    align-self: start;
    margin-bottom: 24px;

    h2 {
      width: max-content;
      font-size: 32px;
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 6px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
    }
  }

  &-info {
    align-self: start;
    li {
      padding-bottom: 8px;
      &:last-of-type {
        padding-bottom: 32px;
      }
    }
  }

  &-radiusCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 366px;
    margin: 0 auto;
    padding: 32px 24px 48px;
    border-radius: 8px;
    background-color: #fff;
  }

  &-text {
    font-size: 14px;
    margin-bottom: 18px;
  }
}
@include onDesktop {
  .borisTwo {
    flex-direction: row;
    background-color: #f4f4f4;
    margin-bottom: 120px;

    &-container {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1127px;
      padding-top: 47px;
    }

    &-info__desktop {
      width: 396px;
      padding-top: 70px;
    }

    &-name {
      h2 {
        font-size: 64px;
      }

      p {
        font-size: 21px;
      }
    }

    &-ziele {
      h2 {
        font-size: 28px;
      }
    }

    &-photo__desktop {
      margin-right: -40px;
      img {
        width: 576px;
        height: 775px;
      }
    }
  }
}
