@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.footer {
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
  font-weight: 500;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;

    p {
      line-height: 3.6rem;
      padding-bottom: 0.4rem;
    }

    a {
      line-height: 3.6rem;
      padding-bottom: 0.4rem;
    }
  }
}

@include onDesktop {
  .footer {
    font-size: 1.6rem;
    &-inner {
      flex-direction: row;
      gap: 4.2rem;
    }
  }
}