@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.locations {
  &-container {
    width: 100%;
    padding: 48px 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 34px;
    text-align: center;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    img {
      width: 16px;
      height: 19px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      width: 100%;
    }
  }
}

@include onDesktop {
  .locations {
    display: flex;

    .desktop-container {
      display: flex;
      align-items: center;
      margin: 120px 48px 0;
      width: 100%;
    }

    &-container {
      h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 60px;
      }
    }

    &-inner {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-item {
      justify-content: center;
      flex-wrap: wrap;
      max-width: 530px;
      height: 130px;


      .item-inner {
        display: flex;
        width: max-content;
      }
    }
  }
}
