@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.cookiesModal {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 150rem;
  width: 100%;
  background: rgba(217, 207, 207, 0.8); 
  backdrop-filter: blur(8px);

  &-inner {
    margin-top: 7rem;
    padding: 3.2rem 2.4rem 6.4rem;
    background-color: #fff;
    border-radius: 4px;
    width: 39rem;

    .container {
      min-width: 34.2rem;
    }
    @include onDesktop {
      margin-top: 2rem;
      padding: 6.4rem 4.8rem 12.8rem;
      width: 58rem;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 1.8rem;

    @include onDesktop {
      font-size: 2.4rem;
    }
  }

  p {
    color: #333;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 156%;
    margin-bottom: 2.4rem;

    @include onDesktop {
      font-size: 2rem;
    }
  }

  &-links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3.6rem;
    width: 97%;

    a {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      text-decoration-line: underline;

      @include onDesktop {
        font-size: 2rem;
      }
    }
  }

  &-dropdown__items {
    width: 97%;
    margin-bottom: 6.4rem;

    
    @include onDesktop {
      font-size: 2rem;
    }
  }

  &-dropdown__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;

    .dropdown-left {
      img {
        padding-right: 1rem;
      }
    }
  }

  &-dropdown__text {
    display: none;
  }

  .dropdown__text--opened {
    display: block;
    margin-top: 1.4rem;
    width: 95%;
    padding-left: 2rem;
  }

  &-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.4rem 1.8rem;
    grid-template-areas:
      "green-btn green-btn"
      "left-btn right-btn";
    height: 10.4rem;
    width: 100%;

    .green-btn {
      grid-area: green-btn;
      background-color: #56c568;
      color: #fff;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.35px;

      &:hover {
        background-color: #379246;
      }

      &:active {
        background-color: #379246;
      }

            @include onDesktop {
        font-size: 2rem;
      }
    }
    .left-btn {
      grid-area: left-btn;
    }
    .right-btn {
      grid-area: right-btn;
    }

    .default-btn {
      border: 3px solid $main-black;
      border-radius: 4px;
      color: $main-black;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2rem;
      letter-spacing: 0.35px;

      &:hover {
        background-color: $main-black;
        color: #fff;
      }

      &:active {
        background-color: $main-black;
        color: #fff;
      }
    }
  }

}
