@import "../../../utilsScss/mixins.scss";
@import "../../../utilsScss/colors.scss";

.slide {
  max-width: 34.2rem;
  box-shadow: 0px 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.4rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    border-radius: 1.4rem;
  }

  &-info {
    padding: 2.4rem 2.4rem 4.8rem;
  }

  &-city {
    display: flex;
    align-items: start;
    margin-bottom: 1.2rem;

    p {
      width: max-content;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 2.4rem;
    }
  }

  &-values {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 2.2rem; /* 157.143% */
    letter-spacing: 0.35px;
  }

  &-value {
    width: max-content;
    margin-bottom: 0.9rem;

    .key {
      font-weight: 400;
      color: #353538;
    }

    .value {
      padding-left: 0.5rem;
      color: $main-black;
      font-weight: 500;
    }
  }

  .marker {
    width: 2rem;
    height: 2rem;
  }
}

@include onDesktop {
  .slide {
    max-width: 100%;
    height: 72.6rem;
    box-shadow: none;

    .container {
      display: flex;
      align-items: start;
      width: calc(100% - 23.4rem);
        max-width: 149.4rem;
        margin: 0 auto;
    }

    &-image__block {
      width: 115rem;
      height: 72.8rem;
      border-radius: 14px;
      overflow: hidden;
    }

    &-info {
      display: none;
    }
  }

  .slide-info__desktop {
    position: absolute;
    top: 6.6rem;
    left: 64%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  }

  .desktop-inner {
    width: 53rem;
    height: max-content;
    padding: 8rem 6.8rem;
    display: flex;
    flex-direction: column;

    .slide-city {
      margin-bottom: 2.4rem;
      align-items: center;
      p {
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
      }
    }

    .slide-value {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    .marker {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

