@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";


.sliderContainer {
  cursor: grab;
  position: relative;

  h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.swiper-pagination {
  width: 100%;
  bottom: -2.4rem !important;
}

.swiper-pagination-bullet {
  background-color: black;
}