@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.videoSlider {
  width: 100%;
  margin-bottom: 11rem;
}

.videoSlide {
  &-inner {
    margin: 0 auto;
    width: calc(100% - 4.8rem);
  }
}

.youTube__block {
  width: 100%;
  height: 21.6rem;
  position: relative;
}

.youTube__video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.active {
  z-index: 1;
}

.videoPagination {
  width: 100%;
  bottom: -2.4rem !important;
  display: flex;
  justify-content: center;
}

@include onDesktop {

  .videoSwiper {
    display: flex;
    justify-content: center;
    height: max-content;
    padding-bottom: 2.4rem !important;
  }

  .videoSlide {
    width: 100%;
    &-inner {
      margin: 0 auto;
      width: 98rem;
    }
  }

  .youTube__block {
    width: 100%;
    height: 60rem;
    position: relative;
  }

  .youTube__video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.swiper-pagination {
  width: 100%;
  bottom: -2.4rem !important;
}

.swiper-pagination-bullet {
  background-color: black;
}
