@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.videoSlider {
  width: 100%;
  margin-bottom: 11rem;
}

.videoSlide {
  &-inner {
    margin: 0 auto;
    width: calc(100% - 4.8rem);
  }
}

.youTube__block {
  width: 100%;
  height: 21.6rem;
  position: relative;
}

.youTube__video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.active {
  z-index: 1;
}

.videoPagination {
  width: 100%;
  bottom: -2.4rem !important;
  display: flex;
  justify-content: center;
}

@include onDesktop {
  .container {
    h2 {
      font-size: 3.6rem;
      font-weight: 600;
      margin-bottom: 4.8rem;
    }
  }

  .videoSlide {
    &-inner {
      margin: 0 auto;
      width: 98rem;
    }
  }

  .youTube__block {
    width: 100%;
    height: 60rem;
    position: relative;
  }
  
  .youTube__video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
